

<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no">
    <meta charset="utf-8">
    <title>Bus Tracking</title>
    <link rel="stylesheet" href="views/Master/css/map.css" />
  </head>
  <body>
    <div id="map" class="dib">
	</div><div id="side-bar" class="dib">
		<h2>Select from the SelectBox below</h2>
		<select class="map-option">
			<option value="map">Show All</option>
			<option value="filter">Filter Transport</option>
			<option value="single">Single Transport</option>
		</select>
		<ul class="filter-wrap options hidden">
			
		</ul>
		<div class="single-wrap options hidden">
			<select class="transport"></select>
		</div>
	</div>
	<script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
    <script src="views/Master/js/map.js"></script>
    <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCet4_h0lHNadlxh4IIpUFiuqzY6fjGBnM&signed_in=true&callback=TRACKER.initMap"></script>

  </body>
</html>